html, body {
    height:100%;
} 
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

header {
    color: white;
}
nav {
    background-color: #35424a;
}
nav > ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    
}
.nav-right {
    display: flex;
    
}
a:link {
    text-decoration: none;
    color: white;
}
a:hover {
    color: orangered;
}


.nav-item {
    padding: 3em;
}
hr {
    height:5px;
    border-width:0;
    background-color: orangered;
    margin:0;
  }
section#showcase {
    color: white;
    text-align: center;
    background-image: url('/img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 50vh;
      
  }
  section#showcase > p {
      margin: 0;
      padding: 0;
      border: none;
  }
  .font-45 {
      font-size: 45px;
      text-align: center;
      padding-top: 60px;
      
  }
  section#newsletter {
      background-color: #35424a;
      display:flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
  }
  section#newsletter > p {
      margin:0;
      padding-left: 120px;
      color: white;
      font-size: 22px;
  }
  .form-control {
      padding-right: 110px;
  }
  .btn {
      background-color: orangered;
      color: white;
      padding-left: 10px;
      height: 35px;
      width: 110px;
  }
  .form-width {
      width: 200px;
      height: 29px;
  }
  section#boxes {
      display: flex;
      justify-content: space-around;
      padding: 40px 80px;
  }
  .img-control {
      text-align:center;
  }
  .img-control > img {
      padding-bottom: 40px;
  }
  footer {
      color: white;
      text-align: center;
      background-color: orangered;
      padding: 10px;
  }